.root {
    height: 80px;
    font-size: 24px;
    color: #ffffff;
    background: #009999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addTodoForm {
    display: flex;
    flex: 1;
}
.btn {
    margin-left: 12px;
}
.listItems {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 24px;
    padding: 6px;
}

